@import "vars"

/* Generic classes */
.relative
	position relative
	
.clearfix
	clear both
	
.text-center
	text-align center
	
.hidden
	display none
	
/* base css */
html
body
.root
	height 100%
	width 100%
	padding 0
	margin 0
	
.root
	background $mainBackground
	
.application-header
	position absolute
	height 50px
	right 0
	left 0
	top 0
	
.application-page-container
	position absolute
	bottom 80px
	top 50px
	right 0
	left 0
	
.application-page
	height 100%
	width 100%
	
.application-footer
	position absolute
	height 80px
	bottom 0
	right 0
	left 0