@import "vars"

.application-header
	border-bottom 1px solid $mainBorder
	background-color #fff

.application-links
	line-height 50px
	margin-left 5px
	
.application-page-link
	text-decoration initial
	border-radius(5px)
	padding 5px 8px
	margin 0 7px
	color black
	
.application-page-link:hover
	background-color #EEE
	opacity 0.8
	color #00F