@import "vars"

.application-header
	background-color #00d6ff

.application-links
	line-height 75px
	margin-left 10px
	
.application-page-link
	text-decoration initial
	background-color white
	border 1px solid black
	border-radius(5px)
	padding 5px 12px
	margin 0 10px
	color black
	
.application-page-link:hover
	color red